body {
}

.page-head{
	margin: 30px auto;
}


.btnSend:hover{
	cursor:pointer;
}

.btnSend i{
	font-size: 36px; 
	line-height: inherit;
}

#send-msg i{
	color: #27AE60;
}
#send-varse i{
	color:#39a7d8;
}

.chat-area{
	background-color: rgba(88, 88, 88, 0.2);
	border-radius: 4px;
	height: 450px;
	min-height:450px;
}

.chat-area > li{
	list-style:none;
	white-space: nowrap;
}



.user-info{
	width: 60px;
	display: inline-block;
}
div.user-image{
	width: 60px;
	height: 60px;
	border-radius: 45px;
	background-size:contain;
}
.user-name{
	text-align:center;
	font-size:14px;
	color: darkgray;
}
.my-chat{
	text-align:right;
}

li.system-chat  div.user-image{
	background-image: url(/images/autochat.png);
}

li.my-chat div.user-image{
	background-image: url(/images/mychatl.png);
}

li.others-chat .user-image{
	background-image: url(/images/matchchat.png);
}

.chat-body{
	display:inline-block;
	line-height: 50px;
	border-radius: 5px;
	vertical-align:text-top;
	position: relative;
	white-space:normal;	
	padding: 0 10px;
	margin: 10px 0;
}

.chat-primary{
	background-color: rgba(66,139,202,0.5);
}
.chat-primary:before{
	border-color: rgba(66,139,202,0.5);
}
.chat-success{
	background-color: rgba(92,184,92,0.5);
}
.chat-success:before{
	border-color: rgba(92,184,92,0.5);
}
.chat-info{
	background-color: rgba(91,192,222,0.5);
}
.chat-info:before{
	border-color: rgba(91,192,222,0.5);
}
.chat-default{
	background-color: rgba(255,255,255,.8);
}
.chat-default:before{
	border-color: rgba(255,255,255,.8);
}
.chat-warnning{
	background-color: rgba(240,173,78,0.5);
}
.chat-warnning:before{
	border-color: rgba(240,173,78,0.5);
}
.chat-error{
	background-color: rgba(212,63,58,0.5);
}
.chat-error:before{
	border-color: rgba(212,63,58,0.5);
}
.chat-left:before{
	content: " ";
	display: block;
	position: absolute;
	left: -20px;
	border-width: 10px;
	border-style: solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-width: 8px;
	top: 10px;
}
.chat-left{
	margin-left:15px;
}
.chat-right:before{
	content: " ";
	display: block;
	position: absolute;
	right: -20px;
	border-width: 10px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-width: 8px;
	top: 10px;
}
.chat-right{
	margin-right:15px;
}