@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "~/Views/Shared/_AnimateBgLayout.cshtml";
	ViewData["Title"] = "接龙";
}
@section scripts{
	<script src="~/areas/relay/relayindex.js"></script>
}
@section styles{
	<environment names="Development">
		<link href="~/css/mobi.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/areas/relay/realyindex.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/mobi.min.css" />
		<link rel="stylesheet" href="~/areas/relay/realyindex.css" />
	</environment>
}

<div class="flex-center">
	<div class="container" style="z-index:100">
		<div class="row flex-center">
			<img src="~/images/logo.png" width="100" height="100" alt="" style="margin-top:20px;" />
		</div>
		<div class="row">
			<div class="page-head">
				<h1 style="margin:0;">诗词接龙</h1>
			</div>
		</div>
		<div class="row">
			<div id="spanstatus" class="top-gap scroll-view col chat-area">
			</div>
		</div>
		<div class="row flex-center">
			<div class="btnSend" id="send-msg"><i class="fa fa-comments"></i></div>
			<div class="form col-3-4"><input type="text" id="textInput" /></div>
			<div class="btnSend" id="send-varse"><i class="flex-left fa fa-send"></i></div>
		</div>
		<div class="input-group">

		</div>

	</div>
	<div class="hide-on-mobile" style="padding:0 30px; z-index:101">
		<img src="~/images/qrCode.png" style="width: 200px; height:200px" />
		<p>扫描二维码关注微信公众号</p>
	</div>
</div>


